@keyframes neon {
  0% {
    color: #fff;
    text-shadow: 0 0 40px #f22;
  }

  15% {
    color: #fff;
    text-shadow: 0 0 40px #f22;
  }

  16% {
    color: #333;
    text-shadow: 0 0 20px #500;
  }

  17% {
    color: #fff;
    text-shadow: 0 0 40px #f22;
  }

  70% {
    color: #fff;
    text-shadow: 0 0 40px #f22;
  }

  71% {
    color: #333;
    text-shadow: 0 0 20px #500;
  }

  72% {
    color: #fff;
    text-shadow: 0 0 40px #f22;
  }

  73% {
    color: #333;
    text-shadow: 0 0 20px #500;
  }


  74% {
    color: #fff;
    text-shadow: 0 0 40px #f22;
  }
}

@keyframes bg-fade {
  0% {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.81) 77%, rgba(0, 0, 0, 0.81) 100%);
  }

  15% {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.81) 77%, rgba(0, 0, 0, 0.81) 100%);
  }

  16% {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.81) 20%, rgba(0, 0, 0, 0.81) 100%);
  }

  17% {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.81) 77%, rgba(0, 0, 0, 0.81) 100%);
  }

  70% {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.81) 77%, rgba(0, 0, 0, 0.81) 100%);
  }

  71% {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.81) 20%, rgba(0, 0, 0, 0.81) 100%);
  }

  72% {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.81) 77%, rgba(0, 0, 0, 0.81) 100%);
  }

  73% {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.81) 20%, rgba(0, 0, 0, 0.81) 100%);
  }

  74% {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.81) 77%, rgba(0, 0, 0, 0.81) 100%);
  }
}

@keyframes end-bg {
  1% {
    background: #000;
  }

  2% {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.81) 20%, rgba(0, 0, 0, 0.81) 100%);
  }

  3% {
    background: #000;
  }

  4% {
    background: none transparent;
  }
}

@keyframes result {
  0% {
    display: block;
    transform: translate(-50%) scale(1);
    opacity: 1;
    filter: blur(0)
  }
  30% {
    filter: blur(0)
  }
  98% {
    transform: translate(-50%) scale(40);
    filter: blur(10px)
  }
  99% {
    display: none;
  }
  100% {
    transform: translate(-50%) scale(1);
    opacity: 0;
  }
}

body {
  background-color: #000;
  overflow: hidden;
}

.winBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-image: url(./bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.second-bg {
  align-items: center;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.81) 77%, rgba(0, 0, 0, 0.81) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  animation-delay: 15s;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: bg-fade;
}

.win>.second-bg {
  background: none transparent;
  animation: end-bg;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-direction: normal;
}

.App {
  background-image: url(./bg.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: rgb(69, 72, 77);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

h1 {
  color: #fff;
  font-family: sans-serif;
  font-size: 54px;
  text-transform: uppercase;
  text-shadow: 0 0 40px #f22;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 50px;
}

h1 span {
  animation-delay: 15s;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: neon;
}

.board-container {
  background-image: url(./rust.jpg);
  background-size: cover;
  background-color: #222;
  border-bottom: 3px solid #532;
  border-left: 3px solid #532;
  border-right: 3px solid #310;
  border-radius: 20px;
  border-top: 3px solid #310;
  padding: 10px 20px 20px;
  position: relative;
  z-index: 1;
  margin: auto;
}

.counters {
  color: white;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
}

.controls .buttons {
  display: flex;
  flex-direction: row;
}

.controls h2 {
  color: white;
  display: none;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.controls h2.show-result {
  display: block;
  animation-name: result;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.controls button {
  font-size: 10px;
  white-space: break-spaces;
  font-weight: bold;
  height: auto;
  min-height: 40px;
  width: 65px;
  text-align: center;
  text-transform: uppercase;
}

.dark,
.lit {
  position: relative;
  border-radius: 10%;
  overflow: hidden;
}

.lit::before,
.dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.54+100 */
  background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#8a000000', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  width: 100%;
  height: 100%;
  z-index: 1;
}


.lit::after,
.dark::after {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.88+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.58) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.58) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.58) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */
  width: 90%;
  height: 30%;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  content: "";
  position: absolute;
}


.lit {
  background-color: rgb(200, 0, 0);
  box-shadow: 0 0 10px rgba(200, 0, 0, .5);
  border-right: 2px solid #500;
  border-top: 2px solid #500;
  border-left: 2px solid #300;
  border-bottom: 2px solid #300;
}

.lit:active {
  border-right: 2px solid #300;
  border-top: 2px solid #300;
  border-left: 2px solid #500;
  border-bottom: 2px solid #500;
}

.dark {
  background-color: #333;
  transition: background-color 0.2s;
  border-right: 2px solid #333;
  border-top: 2px solid #333;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

.dark:active {
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
}

.lit:active::after,
.dark:active::after {
  top: 7px;
  left: calc(50% - 1px);
}